
*.pyc
config/flexi_loop.cfg
*.cfg
VNAJ/vnaJ.3.3/export/VNA_231220_171905.csv
*.csv
*.csv
Python/log/flexi-loop.log
rubbish
Python/log/flexi-loop.log.1
Python/log/flexi-loop.log.2
Python/log/flexi-loop.log.3
Python/log/flexi-loop.log.3
*.3
*.3
*.3
*.3
Python/log/flexi-loop.log.3
Python/log/flexi-loop.log.3
config/flexi_loop.cfg.old
